@charset "UTF-8";

/* @theme two_columns */

.column-left {
  float: left;
  width: 47.5%;
  text-align: left;
}
.column-right {
  float: right;
  width: 47.5%;
  text-align: left;
}
.column-one {
  float: left;
  width: 100%;
  text-align: left;
}
